// Navigation Styles here
header {
nav {
    background-color: @main-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
    border-bottom: 2px dashed silver;
    padding-bottom: 2%;
    .nav-links
    {
        width: 25%;
        display: flex;
        justify-content: space-around;

        a{
            font-size: 1.6rem;
            text-decoration: none;
            color:@shark;
        }
    }//this closes nav links
}//this closes nav
.welcomeFun{
    margin-top:0;
    margin-left: 22%;

h2 {
    text-align: left;
    padding-bottom: 2%;
}//this closes h2
p {
    width:72%;
    border-bottom: 2px dashed silver;
    text-align: left;
}//this closes p
}//this closes .welcomeFun

img {
    width: 72%;
    padding-bottom: 2%;
}//this closes img
}//this closes header